Service References/BackendService/OrderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://waws.getadoc.co.za/Service/OrderService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://waws.getadoc.co.za/Service/OrderService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://waws.getadoc.co.za/Service/OrderService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebAppManagement.Models.WebService.Order" />
      <xsd:import schemaLocation="http://waws.getadoc.co.za/Service/OrderService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WebAppManagement.Models.WebService" />
      <xsd:import schemaLocation="http://waws.getadoc.co.za/Service/OrderService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WebAppManagement.Models" />
      <xsd:import schemaLocation="http://waws.getadoc.co.za/Service/OrderService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrderService_GetDeliveryMethods_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryMethods" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetDeliveryMethods_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryMethodsResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_UpdateDeliveryMethod_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDeliveryMethod" />
  </wsdl:message>
  <wsdl:message name="IOrderService_UpdateDeliveryMethod_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDeliveryMethodResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_AddDeliveryMethod_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDeliveryMethod" />
  </wsdl:message>
  <wsdl:message name="IOrderService_AddDeliveryMethod_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDeliveryMethodResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_PlaceOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:PlaceOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_PlaceOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:PlaceOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetMyOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMyOrders" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetMyOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMyOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrders" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetBillingAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBillingAddress" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetBillingAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBillingAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_UpdateOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_UpdateOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrderService">
    <wsdl:operation name="GetDeliveryMethods">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetDeliveryMethods" message="tns:IOrderService_GetDeliveryMethods_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetDeliveryMethodsResponse" message="tns:IOrderService_GetDeliveryMethods_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDeliveryMethod">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/UpdateDeliveryMethod" message="tns:IOrderService_UpdateDeliveryMethod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/UpdateDeliveryMethodResponse" message="tns:IOrderService_UpdateDeliveryMethod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDeliveryMethod">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/AddDeliveryMethod" message="tns:IOrderService_AddDeliveryMethod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/AddDeliveryMethodResponse" message="tns:IOrderService_AddDeliveryMethod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlaceOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/PlaceOrder" message="tns:IOrderService_PlaceOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/PlaceOrderResponse" message="tns:IOrderService_PlaceOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMyOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetMyOrders" message="tns:IOrderService_GetMyOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetMyOrdersResponse" message="tns:IOrderService_GetMyOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetOrder" message="tns:IOrderService_GetOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetOrderResponse" message="tns:IOrderService_GetOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetOrders" message="tns:IOrderService_GetOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetOrdersResponse" message="tns:IOrderService_GetOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBillingAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetBillingAddress" message="tns:IOrderService_GetBillingAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetBillingAddressResponse" message="tns:IOrderService_GetBillingAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/UpdateOrder" message="tns:IOrderService_UpdateOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/UpdateOrderResponse" message="tns:IOrderService_UpdateOrder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOrderService" type="tns:IOrderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDeliveryMethods">
      <soap:operation soapAction="http://tempuri.org/IOrderService/GetDeliveryMethods" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDeliveryMethod">
      <soap:operation soapAction="http://tempuri.org/IOrderService/UpdateDeliveryMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDeliveryMethod">
      <soap:operation soapAction="http://tempuri.org/IOrderService/AddDeliveryMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlaceOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderService/PlaceOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyOrders">
      <soap:operation soapAction="http://tempuri.org/IOrderService/GetMyOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderService/GetOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrders">
      <soap:operation soapAction="http://tempuri.org/IOrderService/GetOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBillingAddress">
      <soap:operation soapAction="http://tempuri.org/IOrderService/GetBillingAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderService/UpdateOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderService">
    <wsdl:port name="BasicHttpBinding_IOrderService" binding="tns:BasicHttpBinding_IOrderService">
      <soap:address location="http://waws.getadoc.co.za/Service/OrderService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>