Service References/BackendService/SecurityService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SecurityService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://waws.getadoc.co.za/Service/SecurityService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://waws.getadoc.co.za/Service/SecurityService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://waws.getadoc.co.za/Service/SecurityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebAppManagement.Models.WebService.Security" />
      <xsd:import schemaLocation="http://waws.getadoc.co.za/Service/SecurityService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WebAppManagement.Models.WebService" />
      <xsd:import schemaLocation="http://waws.getadoc.co.za/Service/SecurityService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WebAppManagement.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISecurityService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_AddUserToWebsite_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUserToWebsite" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_AddUserToWebsite_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserToWebsiteResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_AddWebsite_InputMessage">
    <wsdl:part name="parameters" element="tns:AddWebsite" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_AddWebsite_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddWebsiteResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_ProcessForgottenPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessForgottenPassword" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_ProcessForgottenPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessForgottenPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_ProcessForgottenPasswordToken_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessForgottenPasswordToken" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_ProcessForgottenPasswordToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessForgottenPasswordTokenResponse" />
  </wsdl:message>
  <wsdl:portType name="ISecurityService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/Login" message="tns:ISecurityService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/LoginResponse" message="tns:ISecurityService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/ChangePassword" message="tns:ISecurityService_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/ChangePasswordResponse" message="tns:ISecurityService_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUserToWebsite">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/AddUserToWebsite" message="tns:ISecurityService_AddUserToWebsite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/AddUserToWebsiteResponse" message="tns:ISecurityService_AddUserToWebsite_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/UpdateUser" message="tns:ISecurityService_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/UpdateUserResponse" message="tns:ISecurityService_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddWebsite">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/AddWebsite" message="tns:ISecurityService_AddWebsite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/AddWebsiteResponse" message="tns:ISecurityService_AddWebsite_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessForgottenPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/ProcessForgottenPassword" message="tns:ISecurityService_ProcessForgottenPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/ProcessForgottenPasswordResponse" message="tns:ISecurityService_ProcessForgottenPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessForgottenPasswordToken">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/ProcessForgottenPasswordToken" message="tns:ISecurityService_ProcessForgottenPasswordToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/ProcessForgottenPasswordTokenResponse" message="tns:ISecurityService_ProcessForgottenPasswordToken_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISecurityService" type="tns:ISecurityService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserToWebsite">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/AddUserToWebsite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddWebsite">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/AddWebsite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessForgottenPassword">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/ProcessForgottenPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessForgottenPasswordToken">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/ProcessForgottenPasswordToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SecurityService">
    <wsdl:port name="BasicHttpBinding_ISecurityService" binding="tns:BasicHttpBinding_ISecurityService">
      <soap:address location="http://waws.getadoc.co.za/Service/SecurityService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>